@page "/itemsControls/wrapPanel"
@inherits ItemsControlPage
<style>
    .root {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        flex-flow: column nowrap;
    }

    .scroller {
        margin: 16px;
        flex-grow: 100;
        display: flex;
        flex-flow: row wrap;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }

    .scroller-item {
        width: 192px;
        height: 128px;
        margin: 16px;
        box-sizing: border-box;
        border: 1px solid #888;
        border-radius: 4px;
        color: #ccc;
        overflow: hidden;
        font-size: 32px;
        user-select: none;
        overflow-anchor: none;
    }
</style>
<div class="root">
    <div>
        <input type="number" min="1" max="65535" @bind="@Count" />
        <input type="checkbox" @bind="@IsVirtualized" />
        <button type="button"
                @onclick="@(() => Apply())">
            Apply
        </button>
        <input @bind="@NewFirstIndex" />
        <button type="button"
                @onclick="@(() => SetFirstIndex())">
            Scroll
        </button>
    </div>
    <WrapPanel T="string"
               Source="@Items"
               DefaultItemWidth="208"
               DefaultItemHeight="144"
               @bind-FirstIndex="@FirstIndex"
               class="scroller">
        <ItemTemplate Context="context">
            <div class="scroller-item"
                 data-itemindex="@context.Index">
                @context.Index: @(context.Item ?? "????")
            </div>
        </ItemTemplate>
    </WrapPanel>
</div>
