@typeparam T
@inherits StackPanel<T>
<div @attributes="@GetWrapperAttributes()">
    <div @attributes="@GetHeaderAttributes()"></div>
    <div @attributes="@GetScrollerAttributes()"
         @ref="@Element">
        <table @attributes="@GetTableAttributes()">
            @if (HeaderTemplate != null)
            {
                <thead @attributes="@GetHeadAttributes()">
                    @HeaderTemplate
                </thead>
            }
            <tbody @attributes="@GetBodyAttributes()">
                @{
                    var sequence = 100;
                    RenderItemsAndPaddings(__builder, ref sequence);
                }
            </tbody>
        </table>
    </div>
</div>
