@typeparam T
@inherits StackPanel<T>
<div @attributes="@GetWrapperAttributes()">
    <div @attributes="@GetHeaderAttributes()"></div>
    <div @attributes="@GetScrollerAttributes()"
         @ref="@Element">
        <table @attributes="@GetTableAttributes()">
            @if (HeaderTemplate != null)
            {
                <thead @attributes="@GetHeadAttributes()">
                    @HeaderTemplate
                </thead>
            }
            <tbody @attributes="@GetBodyAttributes()">
                @if (Source != null)
                {
                    var sequence = 100;
                    RenderFirstPadding(__builder, ref sequence);

                    if (FirstIndex >= 0)
                    {
                        var li = Math.Min(LastIndex, Source.Count - 1);
                        for (var i = FirstIndex; i <= li; i++)
                        {
                            __builder.AddContent(sequence, ItemTemplate(new ItemTemplateContext<T>(i, Source[i])));
                        }
                    }

                    sequence++;

                    RenderLastPadding(__builder, ref sequence);
                }
            </tbody>
        </table>
    </div>
</div>
